body {
  color: #eeffc9;
  background-color: #181816;

}
.landing-UI{
  color: #eeffc9;
  font-family: fantasy;
  position: absolute;
  text-align: center;
  font-size: 20px;

}
#landing-dungeon-entrance{
  max-width: 100%;
  height:auto;
}

#landing-title{
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

h1{
  font-size: 200px;
  color: inherit;
}


#start-button{
  margin-top: 40px;
  background-color: #eeffc9;
  color: #181816;
  font-weight: bold;
}

#first{
  margin-top: 50px;
}



.start-UI {
  display: none;
}


/* resize images */
.character-select img {
  display: block;
  max-width:1000px;
  max-height:800px;
  width: auto;
  height: auto;
}

.dungeon-UI {
  display: none;
}

.combat-UI {
  display: none;
}

#death {
  color: darkred;
}

.panel-body {
  background-color: grey;
  border: 4px solid darkgray;
  padding: 10px;
}

.panel-heading {
  background-color: red;
  border: 2px solid black;
}

#combat-panel {
  color: black;
  background-color: lightgray;
  width: 400px;
  height: 217px;
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
}

.jumbotron {
  background-image: url("../img/DRDungeon.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 4px solid darkgray;
}

#player-name-display {
  font-weight: bold;
}

#enemy-name-display {
  font-weight: bold;
}

#enemy-image {
  float:right;
}

.box.current {
  background-color: gold;
}

.box.explored {
  background-color: white;
}

.box.locked {
  background-color: silver;
  background-image: url("../img/Keyhole-PNG-Picture.png");
  background-size: contain;
}

.box.weapon {
  background-color: lightblue;
  background-image: url("../img/sword_icon.png");
  background-size: contain;
}

.box.potion {
  background-color: lightgreen;
  background-image: url("../img/potion_icon.png");
  background-size: contain;
}

.box {
  background-color: #444;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}

.wrapper {
  width: 600px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(5, 70px);
  grid-template-rows: repeat(5, 70px);
  grid-auto-flow: column;
}
