body {
  color: #eeffc9;
  background-color: #181816;

}
.landing-UI{
  color: #eeffc9;
  font-family: fantasy;
  position: absolute;
  text-align: center;
  font-size: 20px;

}
#landing-dungeon-entrance{
  max-width: 100%;
  height:auto;
}

#landing-title{
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

h1{
  font-size: 200px;
  color: inherit;
}


#start-button{
  margin-top: 40px;
  background-color: #eeffc9;
  color: #181816;
  font-weight: bold;
}

#first{
  margin-top: 50px;
}



.start-UI {
  display: none;
}


/* resize images */
.character-select img {
  display: block;
  max-width:1000px;
  max-height:800px;
  width: auto;
  height: auto;
}

.dungeon-UI {
  display: none;
}

.combat-UI {
  display: none;
}

#death {
  color: darkred;
}

.panel-body {
  background-color: orange;
  border: 2px solid darkorange;
  padding: 10px;
}

.panel-heading {
  background-color: red;
  border: 2px solid black;
}

#combat-panel {
  color: black;
  background-color: white;
  width: 285px;
  height: 200px;
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
}

.jumbotron {
  background-image: url("../img/dungeon2.jpg");
}
